/* CSS customizations of WYSIWYG editor */
.wmd-panel {
    width: 100%;
    margin: 0;
}

.wmd-button-bar {
    background: none;
}


.wmd-preview {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 12px 14px;
    margin: 20px 0 0 0;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #f8f8f8;
}
