@use "colours.scss" as c;
@use "fonts.scss" as f;
@use "breakpoints.scss" as bp;


 /** Primary Button **/
@mixin btn-primary($outline-width: 1px,
        $border-color: c.$black,
        $border-color-hvr: c.$blue,
        $outline-color: c.$gold,
        $outline-color-hvr: c.$gold
    ){                                                                          
    background-color: c.$black;
    text-align: center;
    font-family: f.$serif-font;
    border: 2px solid $border-color;
    outline: $outline-width solid $outline-color;
    transition-duration: 0.3s;
    line-height: normal;
    text-transform: capitalize;
    a{
        color: c.$gold;
        font-weight: unset;
    }
    &:hover:not([aria-disabled="true"]),
    &:focus-visible:not([aria-disabled="true"]){
        background-color: c.$gold;
        color: c.$black;
        outline-color: $outline-color-hvr;
        border-color: $border-color-hvr;
        a{
            color: c.$black;
            text-decoration: none;
        }
        &:has(.totd-error, .thread-error, .link-error){
            background-color: c.$red;
            opacity: 0.8;
            cursor: not-allowed;
        }
    }
    &:active{
        outline: none;
    }
    &[aria-disabled="true"]{
        cursor: not-allowed;
        opacity: 0.7;
    }
}

@mixin primary-left($offset: 1px){
    position: relative;
    right: $offset;
    &:focus{
        margin: 0px;
        outline-offset: 0px;
    }
}

@mixin primary-right($offset: 1px){
    left: $offset;
    position: relative;
    &:focus{
        margin: 0px;
        outline-offset: 0px;
    }
}

/** Secondary Button **/
@mixin btn-secondary($outline-width: 1px){
    background-color: c.$gold;
    color: c.$black;
    text-align: center;
    font-family: f.$serif-font;
    text-transform: uppercase;
    border: 2px solid c.$black;
    outline: $outline-width solid c.$gold;
    transition-duration: 0.3s;
    line-height: normal;
    max-width: 100%;
    &:hover:not([aria-disabled="true"]),
    &:focus:not([aria-disabled="true"]){
        background-color: c.$dark-blue;
        color: c.$gold;
        border-color: c.$dark-blue;
        outline: $outline-width solid c.$gold;
        outline-offset: 0px;
    }
    &:active{
        outline-color: c.$dark-blue;
    }
    &[aria-disabled="true"]{
        cursor: not-allowed;    
        opacity: 0.7;
    }
    @media(max-width: bp.$xs){
        font-size: 4vw;
    }
}



