$border-width: 2px;

.card-ul{
    @media(min-width: bp.$l){
        margin-left: auto;
        margin-right: auto;
    }
}

.card-li{
    width: 100%;
    @media(min-width: 480px){
        width: calc(50% - 30px);
    }
    @media(min-width: bp.$m){
        width: calc(33.33% - 40px);
    }
    @media(min-width: bp.$l){
        &.uk-first-column{
            padding-left: 0px;
        }
    }
}

.similar-content-card{
    height: 100%;
    display: flex;
    flex-direction: column;

}

.card-title-container{
    padding: 10px;
    background-color: c.$blue;
    display: flex;
    border: $border-width solid;
}

.card-title-container-top{
    @extend .card-title-container;
    border-bottom: none;
}

.card-title-wrapper{
    background-color: c.$dark-blue;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 6px;
    text-align: center;
}

.card-title{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.25rem;
    @media(min-width: bp.$s){
        font-size: 1.5rem;
    }
}

.card-date{
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 1rem;
    @media(min-width: bp.$s){
        font-size: 1.25rem;
    }
}             

.tags-list.card-meta{
    font-size: 0.85rem;
    @media(min-width: bp.$s){
        font-size: 16px;
    }
}

.card-title-btn{
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.3s;
    .uk-card-badge.uk-label{
        top: unset;
        bottom: 15px;
        color: c.$gold;
        background: none;
    }
    .tags-list.card-meta{
        margin-left: 0px;
    }
    &:hover:not([aria-disabled="true"]),
    &:focus:not([aria-disabled="true"]){
        background-color: c.$gold;
        color: c.$darkest-blue;
        border-color: c.$darkest-blue;
        a, span, h2, h4, h5{
            color: unset;
            text-decoration: unset;
        }
    }
    &[aria-disabled="true"]{
        cursor: not-allowed;    
        opacity: 0.7;
    }
    a{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        @extend .flex-center;
        .card-title{
            margin-top: unset;
            margin-bottom: unset;
        }
    }
    &:not(.landing-shows-title){
        border: none;
    }
}

.a-btn-similar{
    display: block;
    padding: 5px;
    @media(min-width: bp.$s){
        padding: 15px 30px;
        font-size: 24px;
    }
}

.uk-card-body{
    background-color: c.$dark-blue;
    border: calc(2 * $border-width) c.$gold;
    border-style: solid double none double; 
    border-top-width: $border-width;
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
    hyphens: auto;
    flex-grow: 1;
    display: flex;
}

.card-wrapper{
    display: flex;
    .similar-title-wrapper{
        margin-top: auto;
        margin-bottom: auto;
        h2{
            font-weight: 400;
            text-transform: none;
            font-size: 2.2em;
        }
    }
    h5{
        margin: 0px;
        font-size: 18px;
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        padding: 0px;
        @media(min-width: bp.$s){
            font-size: f.$m;
        }
    }
    @media(min-width: bp.$s){
        min-height: 135px;
        p{
            padding: 10px 0px;
        }
    }
}

.card-wrapper-inner{
    background-color: c.$dark-blue;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;
}

.uk-card-footer{
    background-color: c.$black;
    border: $border-width solid c.$gold;
    //border-top: none;
    padding: 0px;
    button{
        width: 100%;
        padding: 0px;
        font-size: 20px;
        &:active{
            border-color: c.$light-gold;
            opacity: 0.8;
        }
    }
}


