@use "fonts.scss" as f;
@use "_breakpoints.scss" as bp;

/** Firefox **/
@supports(-moz-appearance:none){
    .btn-primary{
        font-size: f.$moz-sm;
    }
    /** Homepage **/
    .home-community,
    .home-latest{
        h2{
            font-size: f.$moz-h2-sm;
            @media(min-width: bp.$s){
                font-size: f.$moz-h2-m;
            }
        }
    }
    .home-community{
        h3{
            font-size: f.$moz-sm;
            @media(min-width: bp.$s){
                font-size: f.$moz-m;
            }
        }
    }
    h1.card-title{
        font-size: f.$moz-h1-sm;
        @media(min-width: bp.$s){
            font-size: f.$moz-h1-m;
        }
        @media(min-width: bp.$l){
            font-size: f.$moz-h1-l;
        }
    }
    .latest-video-text{
        font-size: f.$moz-sm;
        @media(min-width: bp.$s){
            font-size: f.$moz-m;
        }
    }
    /** Content Detail View **/
    .content-view-container{
        h1{
            font-size: f.$moz-h1-xs;
            @media(min-width: bp.$s){
                font-size: f.$moz-h1-sm;
            }
            @media(min-width: bp.$l){
                font-size: f.$moz-h1-m;
            }
        }
        h3{
            font-size: f.$moz-h3-sm;
            @media(min-width: bp.$s){
                font-size: f.$moz-h3-m;
            }
        }
    }
    .cta-forum{
        .btn-primary{
            font-size: f.$moz-btn-sm;
            @media(min-width: bp.$s){
                font-size: f.$moz-btn-m;
            }
        }
    }
    .btn-content-archive{
        font-size: f.$moz-btn-l;
    }
    /** Show Detail View **/
    .a-btn-similar{
        font-size: f.$moz-l;
    }
    .card-date{
        font-size: f.$moz-m;
    }
}