$serif-font: serif;
$sans-serif-font: sans-serif;
$header-font-size: 24px;
$header-subnav-font-size: 18px;

$xs: 11px;
$sm: 14px;
$m: 16px;
$l: 18px;
$moz-sm: 0.785rem;
$moz-m: 1.1rem;
$moz-l: 1.3rem;
$moz-h2-sm: 0.75rem;
$moz-h2-m: 1.2rem;
$moz-h1-sm: 1.7rem;
$moz-h1-m: 2rem;
$moz-h1-l: 2.5rem;