@use 'colours.scss' as c;
@use 'fonts.scss' as f;


@mixin header-subnav-font-styles {
    color: c.$gold;
    font-family: f.$serif-font;
    text-transform: uppercase;
    font-size: f.$header-subnav-font-size;
}

/** adds corner brackets to divs **/

@mixin corner-brackets($line-width: 2px, 
                       $v-length: 40px, 
                       $h-length: 40px,
                       $color: c.$gold,
                       $background: c.$dark-blue,
                       $top: false,
                       $bottom: false,
                       $left: false,
                       $right: false,  
                       ){
    position: relative;
    border: $line-width solid $color;
    z-index: 0;
    @if $top{
        &::after{
            top: $v-length;
            bottom: -$line-width;
        }
    } @else if $bottom{
        &::after{
            top: -$line-width;
            bottom: $v-length;
        }
    } @else{
        &::after{
            top: $v-length;
            bottom: $v-length;
        }
    }
    @if $left{
        &::before{
            left: $h-length;
            right: -$line-width;
        }
    } @else if $right{
        &::before{
            left: -$line-width;
            right: $h-length;
        }
    } @else{
        &::before{
            left: $h-length;
            right: $h-length;
        }
    }
    &::before{
        content: "";
        z-index: -1;
        position: absolute;
        top: -$line-width;
        bottom: -$line-width;
        background-color: $background;
    }
    &::after{
        content: "";
        z-index: -1;
        position: absolute;
        left: -$line-width;
        right: -$line-width;
        background-color: $background;
        
    }
}

/** Dropdowns **/
@mixin dropdowns($border-width: 1px,
                $color: c.$gold,
                $background-color: c.$black,
                $color-hvr: c.$black,
                $background-color-hvr: c.$light-gold,
                $border-hvr: c.$dark-blue,
                $width: 75%
    ){
    background-color: $background-color;
    border: $border-width solid $color;
    color: $color;
    padding: 15px 15px;
    text-align: center;
    ul{
        padding-left: 0px;
        margin-bottom: 0px;
        .dropdown-link-wrapper{
            width: $width;
            margin-left: auto;
            margin-right: auto;
            border-top: $border-width solid c.$black;
            border-bottom-width: $border-width;
            border-bottom-style: solid;
        }
        li{
            transition-duration: 0.2s;
            cursor: pointer;
            a{
                color: $color;
                font-weight: unset;
            }
            &:last-child{
                .dropdown-link-wrapper{
                    border-bottom-color: $background-color;
                }
            }
            &:not(:last-child){
                .dropdown-link-wrapper{
                    border-bottom-color: $color;
                } 
            }
            &:hover{
                .dropdown-link-wrapper{
                    background-color: $background-color-hvr;
                    margin-left: -15px;
                    padding-left: calc(((100% - $width) / 2) + 14.5px);
                    padding-right: calc(((100% - $width) / 2) + 14px);
                    outline: $border-width solid $color;
                    border: $border-width solid $border-hvr;
                }
                &:first-child{
                    margin-bottom: -$border-width;
                    padding-bottom: $border-width;
                }
                a{
                    color: $color-hvr;  
                    text-decoration: none;
                }
            }
        }
    }
}
