@use "mixins.scss" as m;
@use "colours.scss" as c;
@use "fonts.scss" as f;
@use "headings.scss" as h;
@use "buttons.scss" as b;

/** Buttons **/
.btn-content-available{
    padding: 30px 10px;
    font-size: 22px;
}

/** Headings **/
h3{
    margin-top: 0px;
    margin-bottom: 0px;
    &.sub-show-name{
        font-family: f.$serif-font;
        font-size: 2rem;
    }
}

.content-view-title-container{
    padding-bottom: 40px;
}

.content-view-show-info{
    padding: 0px 4%;
    text-align: center;
    height: 250px;
}

.content-view-show-logo{
    object-fit: contain;
}

.no-logo{
    width: 100%;
    padding-left: 0px;
    padding-bottom: 10px;
}

.content-info-wrapper{
    border: 2px solid c.$gold;
    padding: 20px;
}

.content-view-content-info{
    background-color: c.$blue; 
    padding: 30px 20px;
    h1{
        margin-bottom: 0px;
        font-size: 3.3rem;
    }
}

.tags-list{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 80%;
    margin-left: 10%;
    li{
        display: inline-block;
        padding: 0px 2px;
    }
}

.content-view-content{
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
        div{
            margin-top: 40px;
        }
}

.content-view-totd{
    text-align: center;
    h3{
        font-family: serif;
        font-size: 2.7rem;
    }
}

.purchase-links{
    text-align: center;
    padding-left: 0px;
}

.content-details-cta{
    .btn-primary{
        width: 17%;
        max-width: 170px;
    }
    .cta-dropdown{
        @include m.dropdowns($background-color-hvr: c.$gold);
    }
}

.a-btn-similar{
    display: block;
    padding: 15px 30px;
    font-size: 24px;
}

/** Archive Button **/
.archive-btn-container{
    text-align: center;
}
.btn-content-archive{
    h2{
        margin: 0px;
        padding: 10px;
        text-transform: capitalize;
        font-weight: 500;
    }
    &:hover,
    &:focus{
        h2{
            color: c.$black;
        }
    }
}
