/** Hero section **/
.hero{
    text-align: center;
    margin-bottom: 50px;
    >p{
        font-size: 2.5em;
    }
}

.latest-home{
    margin-left: auto;
    margin-right: auto;
}

.landing-shows{
    color: c.$light-gold;
    margin-left: auto;
    margin-right: auto;
    &:not(.landing-shows-title){
        background-color: c.$darkest-blue;
    }
    p{
        font-size: 1em;
        @media(min-width: bp.$m){
            font-size: 1.25em;
        }
    }
}

.landing-shows-title,
.landing-shows-content{
    box-sizing: border-box;
}

.landing-shows-title{
    @extend .result-title;
    border-color: c.$gold;
    background-color: c.$med-grey;
    width: 42%;
    transition-duration: 0.3s;
    h2{
        font-size: 1.1rem;
        margin-bottom: 0;
        @media(min-width: bp.$s){
            font-size: 1.3rem;
        }
        @media(min-width: bp.$m){
            font-size: 1.5rem;
        }
    }
    &>button{
        @extend .card-title-wrapper;
        @extend .card-title-btn;
    }
    &:has(button:hover){
        background-color: c.$darkest-blue;
    }
    @media(min-width: 400px){
        width: 35%;
    }
    @media(min-width: bp.$s){
        width: 25%;
    }
}

.landing-shows-content{
    width: 58%;
    border: 2px solid c.$gold;
    padding: 5px 20px;
    @media(min-width: 400px){
        width: 65%;
    }
    @media(min-width: bp.$s){
        width: 75%;
    }
    &:nth-child(odd){
        border-right: none;
    }
    &:nth-child(even){
        border-left: none;
    }
}

.subsection{
    padding-top: 0;
    padding-bottom: 0;
    &:not(:last-child){
        .landing-shows-title,
        .landing-shows-content{
            border-bottom: 2px solid c.$gold;
        }
    }
    &:not(:first-child){
        .landing-shows-title, 
        .landing-shows-content{
            border-top: none;
        }
    }
}