.hero{
    text-align: center;
    margin: 0px auto;
    >p{
        font-size: 1.3em;
        @media(min-width: bp.$s){
            font-size: 1.9em;
        }
        @media(min-width: bp.$m){
            font-size: 2.2em;
        }
        @media(min-width: bp.$l){
            font-size: 2.5em;
        }
    }
    width: 97%;
    @media(min-width: bp.$s){
        margin: 15px auto;
    }
    @media(min-width: bp.$m){
        width: 100%;
        margin: 50px auto;
    }
}

.home-latest,
.home-community{
    margin-left: auto;
    margin-right: auto;
}

.home-latest,
.home-community{
    width: 97%;
    @media(min-width: bp.$s){
        width: 90%;
    }
}

.home-latest{
    padding-top: 0px;
    padding-bottom: 0px;
    @media(min-width: bp.$s){
        padding-top: 15px;
    }
    @media(min-width: bp.$m){
        padding-top: 20px;
    }
}

.home-community{
    padding-top: 0px;
    h3{
        font-size: 0.8em;
        @media(min-width: bp.$xs){
            font-size: 1em;
        }
        @media(min-width: bp.$l){
            font-size: 1.3em;
        }
    }
}

.connector{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 26px;
    margin-left: auto;
    margin-right: auto;
}

.connector-middle{
    width: 0;
    height: 100%;
    border: 1px solid c.$gold;
}

.connector-outer{
    height: 35px;
    width: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid c.$gold;
}

.landing-shows{
    color: c.$gold;
    margin-left: auto;
    margin-right: auto;
    &:not(.landing-shows-title){
        background-color: c.$darkest-blue;
    }
    p{
        font-size: 1em;
        @media(min-width: bp.$m){
            font-size: 1.25em;
        }
        &.latest-video-text{
            text-align: center;
            font-size: f.$sm;
            @media(min-width: bp.$s){
                font-size: f.$m;
            }
        }
    }
    & button{
        color: c.$gold;
    }
}

.landing-shows-title,
.landing-shows-content{
    box-sizing: border-box;
}

.landing-shows-title{
    @extend .result-title;
    border-color: c.$gold;
    background-color: c.$med-grey;
    width: 42%;
    transition-duration: 0.3s;
    h2{
        font-size: 0.8rem;
        margin-bottom: 0;
        @media(min-width: bp.$xs){
            font-size: 1rem;
        }
        @media(min-width: bp.$s){
            font-size: 1.3rem;
        }
        @media(min-width: bp.$m){
            font-size: 1.5rem;
        }
    }
    &>button{
        @extend .card-title-wrapper;
        @extend .card-title-btn;
    }
    &:has(button:hover){
        background-color: c.$darkest-blue;
    }
    @media(min-width: 400px){
        width: 35%;
    }
    @media(min-width: bp.$s){
        width: 25%;
    }
}

.home-latest{
    @media(max-width: bp.$s){
        .landing-shows-title{
            width: 35%;
        }
        .landing-shows-content{
            width: 65%;
        }
    }
}

.home-community{
    @media(min-width: bp.$s) and (max-width: 800px){
        .landing-shows-title{
            width: 35%;
        }
        .landing-shows-content{
            width: 65%;
        }
    }
}

.landing-shows-content{
    width: 58%;
    border: 2px solid c.$gold;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:nth-child(odd){
        border-right: none;
    }
    &:nth-child(even){
        border-left: none;
    }
    .embedded-audio{
        padding: 10px 0px;
    }
    @media(min-width: 400px){
        width: 65%;
    }
    @media(min-width: bp.$s){
        width: 75%;
        padding: 30px 20px;
    }
}

.landing-content-wrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 1.2em;
        transition-duration: 0.3s;
        &:hover{
            color: c.$light-gold;
        }
    }
    span{
        text-align: center;
        font-size: 0.8em;
    }
    @media(min-width: bp.$xs){
        h1{
            font-size: 1.5em;
        }
        span{
            font-size: 1em;
        }
    }
    @media(min-width: bp.$s){
        h1{
            font-size:2.2em;
        }
        span{
            font-size: 1.4em;
        }
    }
    @media(min-width: bp.$m){
        h1{
            font-size: 2.5em;
        }
    }
    @media(min-width: bp.$l){
        h1{
            font-size: 3em;
        }
        span{
            font-size: 1.4em;
        }
    }
}

.home-embedded-media{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    >p{
        text-align: center;
        margin: 0px;
    }
    @media(min-width: bp.$s){
        width: 70%;
    }
    @media(min-width: bp.$m){
        width: 50%;
    }
}

.landing-related-links{
    display: flex;
    .landing-tags-list{
        @extend .result-tags-list;
        &.left{
            flex-grow: 1;
        }
        &.right{
            flex-grow: 1;
            text-align: right;
        }
    }
}

.landing-forum-link{
    &.right{
        order: -1;
    }
}

.subsection{
    padding-top: 0;
    padding-bottom: 0;
    &:not(:last-child){
        .landing-shows-title,
        .landing-shows-content{
            border-bottom: 2px solid c.$gold;
        }
    }
    &:not(:first-child){
        .landing-shows-title, 
        .landing-shows-content{
            border-top: none;
        }
    }
}