@use "mixins.scss" as m;
@use "colours.scss" as c;
@use "fonts.scss" as f;
@use "headings.scss" as h;
@use "buttons.scss" as b;
@use "breakpoints.scss" as bp;
@import "../../static/vendor/css/uikit/mixins.scss";
@import "../../static/vendor/css/uikit/variables.scss";
@import "../../static/vendor/css/uikit/uikit.scss";

html,
body{
    overflow-x: hidden;
}

body {
    background-color: c.$black;
    color: c.$gold;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 20px 0px 140px 0px;
}

/** Headings **/
h1{
    @include h.h1;
}

h2{
    @include h.h2;
}

h3{
    @include h.h3;
}

h4{
    @include h.h4;
}

h5{
    @include h.h5;
}

/** Fonts **/
.font-sm{
    font-size: f.$sm;
}

.font-m{
    font-size: f.$m;
}

.font-m{
    font-size: f.$l
}

/** Buttons **/
button{
    cursor: pointer;

}

.btn-primary{
    @include b.btn-primary;
}

.btn-secondary{
    @include b.btn-secondary;
}

.primary-left{
    @include b.primary-left;
}

.primary-right{
    @include b.primary-right;
}

.btn-medium{
    padding: 5px 30px;

}

/** Anchor Elements **/
a{
    cursor: pointer;
    color: c.$light-gold;
    font-weight: 600;
    transition-duration: 0.3s;
    &:hover{
        color: c.$light-gold;
        text-decoration: underline;
    }
    &.a-btn{
        font-weight: unset;
        color: c.$gold;
        &:hover{
            text-decoration: none;
            color: c.$black;
        }
    }
}

/** Lists **/
ul{
    list-style: none;
}

/** Hero section **/
.hero{
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.landing-shows{                     // This is the .uk-container div
    color: c.$light-gold;
    margin-left: auto;
    margin-right: auto;
    .landing-shows-title{
        background-color: c.$dark-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid c.$gold;
        &:hover{
            background-color: c.$black;
            h2{
                color: c.$light-gold;
                text-decoration: underline;
            }
        }
    }
    &:not(.landing-shows-title){
        background-color: c.$darkest-grey;
    }
    p{
        font-size: 1.4em;
    }
}

/** Dropdowns **/
.forum-dropdown{
    @include m.dropdowns($background-color-hvr: c.$gold);
    max-width: 400px;
}

/** Link Errors **/
.totd-error, .thread-error, .link-error{
    &:hover{
        color: c.$red;
        opacity: 0.8;
        cursor: not-allowed;
    }
}

/** Landing Page Community Section **/
.landing-community{             // .uk-grid div
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    h2,
    %h2{
        @extend %h2;
        font-size: 1.7em;
    }
    .border-wrapper{
        border: 1px solid c.$gold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: c.$dark-grey;
        width: 100%;
        &:hover{
            background-color: c.$black;
            h2{
                color: c.$light-gold;
                text-decoration: underline;
            }
        }
    }
    &:last-child{
        margin-top: 0;
    }
}

/** Classes for Offset Grid Elements **/
.offset-border-left{
    border: 2px solid;
}

.offset-border-right{
    border: 2px solid;
    border-left: none;
}

.offset-grid{
    &:first-child{
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    + .offset-grid{
        margin-top: 0px;
        padding-top: 0px;
        .offset-border-left,
        .offset-border-right{
            border-top: none;
        }
    }
}

/** Other Helpers **/
.padded-border-wrapper{
  //  padding: 20px;
}

.grid-center{
    margin-left: auto;
    margin-right: auto;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

/** footer **/
footer {
    flex-shrink: 0;
    background-color: c.$darkest-grey;
    padding-bottom: 20px;
    .uk-grid-small{
        margin: 0;
    }
    a{
        font-size: f.$footer-font-size;
        font-family: f.$serif-font;
        text-transform: uppercase;
        color: c.$gold;
        font-weight: 400;
        &:hover{
            color: c.$light-gold;
        }
    }
    ul.social-icons{
        margin-top: 0;
        >li{
            display: inline;
            .uk-icon{
                color: c.$gold;
            }
        }
    }
    .footer-left{
        text-align: left;
    }
    .footer-center{
        text-align: center;
    }
    .footer-social{
        text-align: right;
        font-family: f.$serif-font;
    }
    .footer{
        padding: 30px;
        font-size: f.$footer-font-size;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #license{
        text-align: center;
    }
}

@import "header.scss";
@import "cards.scss";
@import "_sections.scss";
@import "_pagination.scss";
@import "content_details.scss";
@import "show_details.scss";
@import "search_results.scss";
@import "_compatibility.scss";
