.result-title{
    @extend .card-title-container;
    span{
        color: c.$gold;
        font-weight: 400;
    }
    &:not(.landing-shows-title){
        border: none;
    }
}

.search-show-name{
    margin: 0px;
}

.result-info{
    padding: 15px;
    border-left: none;
    @media(max-width: bp.$s){
        display: flex;
        justify-content: center;
        padding-top: 0px;
        p{
            width: 50vw;
            &:first-child{
                text-align: right;
            }
            &:nth-child(n+2):nth-child(n-1){
                display: none;
            }
        }
    }
    @media(min-width: bp.$s){
        &:nth-child(n+2):nth-child(n-1){
            margin-top: 5px;
            margin-bottom: 5px;
        }     
    }
}

.list-subsection:first-child{
    @media(min-width: bp.$s){
        margin-bottom: 1px;
        .result-title{
            margin-bottom: -1px;
            padding-bottom: 11px;
        }
        .result-info{
            margin-top: 0px;
            margin-bottom: 1px;
        }
        &::before{
            z-index: 2;
        }
    }
}

.result-tags-list{
    @extend .tags-list;
    @extend .font-sm;
    margin-left: unset;
    width: 100%;
    @media(min-width: bp.$s){
        width: unset;
        display: inline;
        float: left;
        text-align: left;
    }
}

.search-forum-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media(min-width: bp.$s){
        float: right;
        &.search-forum-link-s + .forum-dropdown{
            display: none;
        }
    }
    @media(max-width: bp.$s){
        &:not(.search-forum-link-s) + .forum-dropdown{
            display: none;
        }
    }
}
