@use "mixins.scss" as m;
@use "colours.scss" as c;
@use "fonts.scss" as f;
@use "headings.scss" as h;
@use "buttons.scss" as b;

.uk-section.show-hero{
    padding-top: 0px;
}

.show-content-grid{
    .show-title,
    .latest-title{
        position:relative;
        background-color: c.$transparent-blue; 
        padding: 20px;
        border: 2px solid;
        .padded-border-wrapper{
            background-color: c.$dark-blue;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 5px 15px;
        }
    }
    .rendered-content{
        padding: 15px 0px;
        p{
            padding: unset;
        }
    }
}

.show-title{
    display: flex;
    align-items: center;
    .show-logo{
        padding: 15px;
    }
}

.show-content-block{
    text-align: center;
    p{
        margin-top: auto;
        margin-bottom: auto;
        padding: 20px 0px;
    }
}

.content-block{
    padding: 30px;
    p{
        padding: 15px 0px;
    }
}

.show-view-totd{
    text-align: center;
    padding: 0px 20px;
    h4{
    }
}

.latest-content-block{
    width: 90%;
    text-align: center;
   // max-height: 33vh; // Desktop
    .btn-primary{
        max-width: 150px; 
    }
}

.latest-title{
    max-height:7vw; // Desktop
    h1{
        font-size: h.$latest-h1-size;
        margin-bottom: h.$latest-h1-margin;
    }
    h2{
        font-size: h.$latest-h2-size;
        margin-bottom: h.$latest-h2-margin;
    }
    h3{
        font-size: h.$latest-h3-size;
    }
}

.btn-show-subscribe{
    width: 45%;
    font-size: 1.6rem;
    padding: 5px;
}

.latest-grid{
    margin-top: 0px;
}

.show-grid{
    height:fit-content;
}

.show-hero-container{
    max-width: 90vw;
    >.uk-grid{
        margin-left: 0px;
        >.uk-grid{
            margin: 0px;
        }
    }
}
