<li class="card-li" >
    <div class="uk-card similar-content-card">
        <div class="card-title-container-top">
            <div class="card-title-wrapper">
                <h4 class="card-title">{{ content.title }}</h4>
                <h4 class="card-date">{{ content.creation_time|date:"F j Y" }}</h4>
                {% if content.tags.all %}
                    <ul class="tags-list card-meta">
                        {% for tag in content.tags.all %}
                        <li><a class="tag" href="{% url "show-tag-filter" content.show.slug tag.slug %}">#{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="uk-card-body">
            <div class="card-wrapper">
                <div class="card-wrapper-inner">
                    <p class="uk-text-small">{{ content.rendered_html|truncatewords_html:15|striptags }}</p>
                </div>
            </div>
        </div>
        <div class="uk-card-footer">
            <button class="uk-button btn-primary">
                <a class="a-btn a-btn-similar uk-text-medium" href="{% url "content-detail" content.show.slug content.catalog_number content.slug %}">Check it Out</a>
            </button>
        </div>
    </div>
</li>