<div class="landing-content-wrapper">
    <a href="{% url "content-detail" content.show.slug content.catalog_number content.slug %}">
        <h1 class="card-title">{{ content.title }}</h1>
    </a>
    <span class="font-sm">{{ content.pub_time|date:"F j Y" }}</span>
    {% if main == "main" %}
        {% if content.embedded_media.all %}
        <p class="latest-video-text">{{ content.rendered_html|truncatewords_html:15|striptags }}</p>
        {% else %}
        <p>{{ content.rendered_html|truncatewords_html:30|striptags }}</p>
        {% endif %}
        {% if content.embedded_media.all %}
            {% with media=content.embedded_media.all|first %}
            <div class="home-embedded-media">
                <div class="media-wrapper">
                    {{ media.embed_code|safe }}</iframe>
                </div>
            </div>
            {% endwith %}
        {% endif %}
        {% if content.podcast_episode %}
            {% include "./_embedded_audio.html" with audio_url=content.podcast_episode.enclosure.url %}
        {% endif %}
    {% endif %}
</div>