<div class="landing-content-wrapper">
    <a href="{% url "content-detail" content.show.slug content.catalog_number content.slug %}">
        <h1 class="card-title">{{ content.title }}</h1>
    </a>
    <span class="font-sm">{{ content.creation_time|date:"F j Y" }}</span>
    {% if main == "main" %}
    <p class="uk-visible@s">{{ content.rendered_html|truncatewords_html:30|striptags }}</p>
        {% if content.podcast_episode %}
            {% include "./_embedded_audio.html" with podcast=content.podcast_episode %}
        {% endif %}
    {% endif %}
</div>