<div class="latest-grid{% if home == true %} latest-home{% endif %}">
    <div class="latest-content-block content-block primary-section">
        <div class="latest-title">
            <div class="padded-border-wrapper">
                <h2>Latest Content:</h2>
                <a href="{% url "content-detail" show.slug content.catalog_number content.slug %}">
                    <h1>{{ content.title }}</h1>
                </a>
                <h3><i>{{ content.pub_time|date:"F j Y" }}</i></h3>
                {% if content.tags.all %}
                    <ul class="tags-list">
                        {% for tag in content.tags.all %}
                        <li><a class="tag" href="{% url "show-tag-filter" content.show.slug tag.slug %}">#{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="rendered-content">
            {{ content.rendered_html|safe }}
            {% if content.purchase_links %}
            <ul class="purchase-links">
                {% for link in content.purchase_links %}
                <li><a href="{{ link.url }}" alt="{{ link.description }}"
                    {% if link.error %}class="link-error">(Broken Link)
                    {% else %}>
                    {% endif %}
                    {{ link.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="latest-bottom">
            <button class="uk-button btn-primary" type="button">See Show Notes</button>
            {% if content.things_of_the_day %}
            <div class="show-view-totd uk-width-2-5">
                <div class="totd-title">
                    <h4>&mdash;</h4>
                    <h4>Things of the Day</h4>
                    <h4>&mdash;</h4>
                </div>
                <ul class="uk-list">
                    {% for thing in content.things_of_the_day %}
                    <li>{{ thing.author }}:
                        <a href="{{ thing.url }}" alt="{{ thing.description }}"
                            {% if thing.error %}class="totd-error">(Broken Link)
                            {% else %}>
                            {% endif %}
                            {{ thing.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if content.forum_threads %}
                <button class="uk-button btn-primary btn-forum" type="button"> 
                {% include "./_forum_threads.html" %}
            {% endif %}
        </div>
    </div>
</div>