@use 'colours.scss' as c;
@use 'fonts.scss' as f;


@mixin header-subnav-font-styles {
    color: c.$gold;
    font-family: f.$serif-font;
    text-transform: uppercase;
    font-size: f.$header-subnav-font-size;
}

/** adds corner brackets to divs **/

@mixin corner-brackets($line-width: 2px, 
                       $length: 40px, 
                       $color: c.$gold,
                       $background: c.$dark-blue, 
                       ){
    position: relative;
    border: $line-width solid $color;
    z-index: 0;
    &::before{
        content: "";
        z-index: -1;
        position: absolute;
        top: -$line-width;
        bottom: -$line-width;
        left: $length;
        right: $length;
        background-color: $background;
    }

    &::after{
        content: "";
        z-index: -1;
        position: absolute;
        top: $length;
        bottom: $length;
        left: -$line-width;
        right: -$line-width;
        background-color: $background;
        
    }
}

@mixin corner-top-right($line-width: 2px,
                    $length: 40px,
                    $color: c.$gold,
                    $background: c.$dark-blue,
                    ){
    @include corner-brackets;
    &::before{
        bottom: $line-width;
        left: 0px;
    }
    &::after{
        bottom: 0px;
        left: $line-width;
    }
}

@mixin corner-bottom-left($line-width: 2px,
                    $length: 40px,
                    $color: c.$gold,
                    $background: c.$dark-blue,
                    ){
    @include corner-brackets;
    &::before{
        top: 0px;
        right: 0px;
    }
    &::after{
        top: 0px;
        right: $line-width;
    }
}

/** Dropdowns **/
@mixin dropdowns{
    background-color: c.$black;
    border: 1px solid c.$gold;
    color: c.$gold;
    padding: 15px 15px;
    text-align: center;
    ul{
        padding-left: 0px;
        margin-bottom: 0px;
        .dropdown-link-wrapper{
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        &:not(.header-subnav-ul){
            li{
                list-style: none;
                transition-duration: 0.2s;
                cursor: pointer;
                a{
                    color: c.$gold;
                    font-weight: 400;
                }
                &:last-child{
                    .dropdown-link-wrapper{
                        border-top: 1px solid c.$black;
                        border-bottom: 1px solid c.$black;
                    }
                }
                &:not(:last-child){
                    .dropdown-link-wrapper{
                        border-top: 1px solid c.$black;
                        border-bottom: 1px solid c.$gold;
                    } 
                }
                &:hover{
                    .dropdown-link-wrapper{
                        background-color: c.$light-gold;
                        width: calc(100% + 28px);
                        margin-left: -15px;
                        outline: 1px solid c.$gold;
                        border: 1px solid c.$dark-blue;

                    }
                    &:first-child{
                        margin-bottom: -1px;
                        padding-bottom: 1px;
                    }
                    a{
                        color: c.$black;  
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
