{% extends "base.html" %}
{% block title %}{{ content.title }} | {{ show.title }}{% endblock title %}
{% block extrahead %}
{% comment "TODO" %}
<link rel="canonical" href="{% url "content-detail" catalog.show.slug content.catalog_number content.slug %}" />
{% endcomment %}
{% endblock extrahead %}

{% block content %}
<h1>{{ content.show.title }}</h1>
<h2>{{ content.title }}</h2>
<div>{{ content.rendered_html|safe }}</div>
{% if things_of_the_day %}
<h3>Things of the Day</h3>
<ul>
    {% for thing in things_of_the_day %}
    <li>{{ thing.author }}: {% if thing.error %}❌{% endif %}<a href="{{ thing.url }}">{{ thing.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}
