{% extends "base.html" %}
{% block title %}{{ content.title }} | {{ show.title }}{% endblock title %}
{% block extrahead %}
{% comment "TODO" %}
<link rel="canonical" href="{% url "content-detail" content.show.slug content.catalog_number content.slug %}" />
{% endcomment %}
{% endblock extrahead %}

{% block content %}
<div class="uk-section primary-section">
    <div class="content-view-container content-view-title-container">
        <div class="content-wrapper{% if content.show.logo %}">{% else %} no-logo">{% endif %}
            <div class="content-view-show-info">
                {% if content.show.logo %}
                <a href="{% url "show-detail" content.show.slug %}" class="show-logo-link">
                    <div class="show-logo-wrapper">
                        <img class="uk-logo content-view-show-logo" 
                            src="{{ content.show.logo.url }}" 
                            alt="{{ content.show.title }} Logo" 
                            title="{{ content.show.title }}"
                            uk-svg
                        >
                    </div>
                    <div class="show-name">
                        {% if content.show.parent_show %}
                        <h3 class="content-view-parent-title">{{ content.show.parent_show.title }}: </h3>
                        {% endif %}
                        <h3>{{ content.show.title }}</h3>
                    </div>
                </a>
            {% else %}
                <a href="{% url "show-detail" content.show.slug %}" class="show-logo-link">
                    <h3 class="no-logo">{{ content.show.title }}</h3>
                </a>
            {% endif %}
            </div>
            <div class="content-wrapper-lg">
                <div class="content-info-wrapper">
                    <div class="content-view-content-info">
                        <h1>{{ content.title }}</h1>
                        <h3 class="card-date">{{ content.creation_time|date:"F j Y" }}</h3>
                        {% if content.tags.all %}
                        <ul class="tags-list">
                        {% for tag in content.tags.all %}
                            <li><a class="tag" href="{% url "show-tag-filter" content.show.slug tag.slug %}">#{{ tag.name }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        </ul>
                    </div>
                </div>
                {% if content.podcast_episode %}
                    {% include "./partials/_embedded_audio.html" with podcast=content.podcast_episode %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content-view-content uk-container content-view-container">
        <div class="rendered-content">
            {{ content.rendered_html|safe }}
        </div>
        {% if content.embedded_media.all %}
            {% include "./partials/_embedded_video.html" %}
        {% endif %}
        {% if content.things_of_the_day %}
            <div class="content-view-totd">
                <h3>&mdash; Things of the Day &mdash;</h3>
                <ul class="uk-list">
                    {% for thing in content.things_of_the_day %}
                    <li>{{ thing.author }}:
                        <a href="{{ thing.url }}" alt="{{ thing.description }}"
                            {% if thing.error %}class="totd-error">(Broken Link)
                            {% else %}>
                            {% endif %}
                            {{ thing.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if content.purchase_links %}
            <ul class="purchase-links">
                {% for link in content.purchase_links %}
                <li><a href="{{ link.url }}" alt="{{ link.description }}"
                    {% if link.error %}class="link-error">(Broken Link)
                    {% else %}>
                    {% endif %}
                    {{ link.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% if content.forum_threads %}
    {% include "./partials/_cta.html" with content=content forum="true" %}
{% else %}
    {% include "./partials/_cta.html" with content=content %}
{% endif %}
{% if similar_content %}
<div class="uk-section">
    <h1>More Like This</h1>
    <div class="uk-container">
        <ul class="uk-container uk-flex-center card-ul" uk-grid uk-height-match="target: .card-title-container-top">
        {% for similar_content in similar_content|slice:"3"%}
            {% include "./partials/_content_cards.html" with content=similar_content %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<div class="uk-container uk-text-center">
    <button class="uk-button btn-primary btn-content-archive">
        <a class = "a-btn" href="{% url "show-detail" content.show.slug %}"><h2>Full {{ content.show.title }} Archive</h2></a>
    </button>
</div>

{% endblock content %}
