{% extends "base.html" %}
{% block title %}{{ show.title }}{% endblock title %}
{% block extrahead %}
{% comment "TODO" %}
<link rel="canonical" href="{% url "show-detail" show.slug %}" />
{% endcomment %}
{% endblock extrahead %}

{% block content %}
<h1>{{ show.title }}</h1>
{% if show.logo %}
<img src="{{ show.logo.url }}" />
{% else %}
Placeholder Image Goes Here
{% endif %}
<h2>Content{% if tags %} tagged with {{ tags|join:", " }}{% endif %}</h2>
<ul>
    {% for content in page.object_list %}
    <li><a href="{% url "content-detail" show.slug content.catalog_number content.slug %}">{{ content.title }}</a></li>
    {% endfor %}
</ul>
<ul>
    {% if page.has_previous %}
    <li><a href="?page=1">first</a></li>
    <li><a href="?page={{ page.previous_page_number }}">previous</a></li>
    {% endif %}
    <li>Page {{ page.number }} of {{ page.paginator.num_pages }}</li>
    {% if page.has_next %}
    <li><a href="?page={{ page.next_page_number }}">next</a></li>
    <li><a href="?page={{ page.paginator.num_pages }}">last</a></li>
    {% endif %}
</ul>

{% endblock content %}
