{% extends "base.html" %}
{% block title %}{{ show.title }}{% endblock title %}
{% block opengraphextra %}
    <meta property="og:title" content="{{ show.title }}" />
    {% if show.description %}
    <meta property="og:description" content="{{ show.description }}" />
    {% endif %}
    {% if show.logo %}
    <meta property="og:image" content="{{ show.logo.url }}" />
    {% endif %}
{% endblock opengraphextra %}
{% block extrahead %}
{% if show.podcast %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{show.title}}" href="{% url "show-podcast-rss" show.slug %}"
{% else %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{show.title}}" href="{% url "show-rss" show.slug %}"
{% endif %}
{% comment "TODO" %}
<link rel="canonical" href="{% url "show-detail" show.slug %}" />
{% endcomment %}
{% endblock extrahead %}

{% block content %}
{% if latest_content %}
<div class="uk-section show-hero">
    <div class="uk-container show-hero-container">
        <div class="uk-grid">
            <div class="show-title-grid">
                <div class="show-title-content-block content-block">
                {% if show.logo %}
                    <img src="{{ show.logo.url }}" />
                {% else %}
                    <h1>{{ show.title }}</h1>
                {% endif %}
                {% if show.description %}
                    <p>{{ show.description }}</p>
                {% endif %}
                    {% comment %}
                    <button class="uk-button btn-secondary btn-medium">Subscribe:</button>
                    {% endcomment %}
                </div>
            </div>
            <div class="latest-grid">
                <div class="latest-content-block content-block primary-section">
                    <div class="latest-title">
                        <div class="padded-border-wrapper">
                            <h2>Latest Content:</h2>
                            <a href="{% url "content-detail" show.slug latest_content.catalog_number latest_content.slug %}">
                                <h1>{{ latest_content.title }}</h1>
                            </a>
                            <h3><i>{{ latest_content.pub_time|date:"F j Y" }}</i></h3>
                            {% if content.tags.all %}
                                <ul class="tags-list">
                                    {% for tag in content.tags.all %}
                                    <li><a class="tag" href="{% url "show-tag-filter" latest_content.show.slug tag.slug %}">#{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% if latest_content.podcast_episode %}
                        {% include "./partials/_embedded_audio.html" with audio_url=latest_content.podcast_episode.enclosure.url %}
                    {% endif %}
                    <div class="rendered-content">
                        {{ latest_content.rendered_html|safe }}
                        {% if latest_purchase_links %}
                        <ul class="purchase-links">
                            {% for link in latest_purchase_links %}
                            <li><a href="{{ link.url }}" alt="{{ link.description }}"
                                {% if link.error %}class="link-error">(Broken Link)
                                {% else %}>
                                {% endif %}
                                {{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% if latest_content.embedded_media.all %}
                        {% include "./partials/_embedded_video.html" %}
                    {% endif %}
                    <div class="latest-bottom">
                        {% comment %}
                        <button class="uk-button btn-primary" type="button">See Show Notes</button>
                        {% endcomment %}
                        {% if latest_things_of_the_day %}
                        <div class="show-view-totd uk-width-2-5">
                            <div class="totd-title">
                                <h4>&mdash;</h4>
                                <h4>Things of the Day</h4>
                                <h4>&mdash;</h4>
                            </div>
                            <ul class="uk-list">
                                {% for thing in latest_things_of_the_day %}
                                <li>{{ thing.author }}:
                                    <a href="{{ thing.url }}" alt="{{ thing.description }}"
                                        {% if thing.error %}class="totd-error">(Broken Link)
                                        {% else %}>
                                        {% endif %}
                                        {{ thing.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if latest_forum_threads %}
                            <button class="uk-button btn-primary btn-forum" type="button"> 
                            {% include "./partials/_forum_threads.html" with forum_threads=latest_forum_threads %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="show-title">
    {% if show.logo %}
    <img class="show-logo-archive" src="{{ show.logo.url }}" />
    {% endif %}
    <h1 class="show-title-archive">{{ show.title }}</h1>
</div>
{% endif %}

<div class="uk-section show-archive-list">
    {% if tags %}<h2>Content tagged with {{ tags|join:", " }}</h2>{% endif %}
    <div class="uk-flex uk-flex-center">
        <ul class="uk-container uk-flex-center card-ul" uk-grid uk-height-match="target: .card-title-container-top">
        {% for content in page.object_list %}
            {% include "./partials/_content_cards.html" with content=content show=show %}
        {% endfor %}
        </ul>
    </div>
</div>
<div>
    {% include "./partials/_pagination.html" %}
</div>
{% endblock content %}
