{% extends "base.html" %}
{% block title %}Content tagged with {{ tag_list|join:", " }}{% endblock title %}
{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<h1>Content tagged with {{ tag_list|join:", " }}</h1>
<ul>
    {% for content in page.object_list %}
    <li>
        <a href="{% url "content-detail" content.show.slug content.catalog_number content.slug %}">{{ content.title }}</a>
        {% if content.things_of_the_day %}
        <h3>Things of the Day</h3>
        <ul>
            {% for thing in content.things_of_the_day %}
            <li>
                <a href="{{ thing.url }}">{{ thing.title }}</a> by {{ thing.author }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if content.tags.all %}
        <h3>Tags</h3>
        <ul>
            {% for tag in content.tags.all %}
            <li><a href="{% url "tag-filter" tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>


<ul>
    {% if page.has_previous %}
    <li><a href="?page=1">first</a></li>
    <li><a href="?page={{ page.previous_page_number }}">previous</a></li>
    {% endif %}
    <li>Page {{ page.number }} of {{ page.paginator.num_pages }}</li>
    {% if page.has_next %}
    <li><a href="?page={{ page.next_page_number }}">next</a></li>
    <li><a href="?page={{ page.paginator.num_pages }}">last</a></li>
    {% endif %}
</ul>

{% endblock content %}
