$black: #000000;
$white: #FFFFFF;
$gold: #DBB778;
$light-gold: #DBC9A9;
$darkest-grey: #242424;
$dark-grey: #303038;
$med-grey: #43434F;
$light-grey: #d3d3d7;
$dark-blue: #1C1D24;
$darkest-blue: #111118;
$blue: #263E55;
$transparent-blue: #263e55ba;
$red: #EF4836;
