@use 'colours.scss' as c;
@use 'fonts.scss' as f;


@mixin header-subnav-font-styles {
    color: c.$gold;
    font-family: f.$serif-font;
    text-transform: uppercase;
    font-size: f.$header-subnav-font-size;
}

/** adds corner brackets to divs **/

@mixin corner-brackets($line-width: 2px, 
                       $v-length: 40px, 
                       $h-length: 40px,
                       $color: c.$gold,
                       $background: c.$dark-blue,
                       $top: false,
                       $bottom: false,
                       $left: false,
                       $right: false,  
                       ){
    position: relative;
    border: $line-width solid $color;
    z-index: 0;
    @if $top{
        &::after{
            top: $v-length;
            bottom: -$line-width;
        }
    } @else if $bottom{
        &::after{
            top: -$line-width;
            bottom: $v-length;
        }
    } @else{
        &::after{
            top: $v-length;
            bottom: $v-length;
        }
    }
    @if $left{
        &::before{
            left: $h-length;
            right: -$line-width;
        }
    } @else if $right{
        &::before{
            left: -$line-width;
            right: $h-length;
        }
    } @else{
        &::before{
            left: $h-length;
            right: $h-length;
        }
    }
    &::before{
        content: "";
        z-index: -1;
        position: absolute;
        top: -$line-width;
        bottom: -$line-width;
        background-color: $background;
    }
    &::after{
        content: "";
        z-index: -1;
        position: absolute;
        left: -$line-width;
        right: -$line-width;
        background-color: $background;
        
    }
}

/** Dropdowns **/
@mixin dropdowns{
    background-color: c.$black;
    border: 1px solid c.$gold;
    color: c.$gold;
    padding: 15px 15px;
    text-align: center;
    ul{
        padding-left: 0px;
        margin-bottom: 0px;
        .dropdown-link-wrapper{
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        &:not(.header-subnav-ul){
            li{
                list-style: none;
                transition-duration: 0.2s;
                cursor: pointer;
                a{
                    color: c.$gold;
                    font-weight: 400;
                }
                &:last-child{
                    .dropdown-link-wrapper{
                        border-top: 1px solid c.$black;
                        border-bottom: 1px solid c.$black;
                    }
                }
                &:not(:last-child){
                    .dropdown-link-wrapper{
                        border-top: 1px solid c.$black;
                        border-bottom: 1px solid c.$gold;
                    } 
                }
                &:hover{
                    .dropdown-link-wrapper{
                        background-color: c.$light-gold;
                        width: calc(100% + 28px);
                        margin-left: -15px;
                        outline: 1px solid c.$gold;
                        border: 1px solid c.$dark-blue;

                    }
                    &:first-child{
                        margin-bottom: -1px;
                        padding-bottom: 1px;
                    }
                    a{
                        color: c.$black;  
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
