{# Python environment variables #}
{% for key, value in env_vars.items() %}
{{ key }}="{{ value }}"
{% endfor %}

{# Celery systemd environment variables #}
CELERY_BIN="{{ celery_binary }}"
CELERY_APP="{{ project_name }}"
CELERYD_NODES="worker1"
CELERYD_PID_FILE="{{ celery_runtime_dir }}/%n.pid"
CELERYD_LOG_FILE="{{ celery_log_dir }}/%n%I.log"
CELERYD_LOG_LEVEL="{{ celery_log_level }}"
CELERYD_STATE_DB="{{ celery_state_dir }}/db.state"
