[Unit]
Description={{ project_name }} flower service
After=network.target rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Type=simple
DynamicUser=yes
Group=www-data
ConfigurationDirectory={{ project_name }}/flower
RuntimeDirectory={{ project_name }}/flower
LogsDirectory={{ project_name }}/flower
StateDirectory={{ project_name }}/flower
WorkingDirectory={{ project_source_dir }}
EnvironmentFile={{ flower_env_config_path }}
ExecStart=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP \
    flower --conf=${FLOWER_CONFIG_FILE}'
Restart=on-failure

[Install]
WantedBy=multi-user.target