import multiprocessing
worker_class = 'sync'
workers = (multiprocessing.cpu_count() * 2) + 1
max_requests = 100

bind = ['unix:{{ gunicorn_socket }}']
timeout = "{{ gunicorn_timeout }}"
capture_ouput = True

chdir = "{{ project_source_dir }}"
errorlog = "{{ gunicorn_error_log }}"
pidfile = "{{ gunicorn_pid_file }}"
