import multiprocessing
worker_class = 'gevent'
workers = 2
max_requests = 1000

bind = ['unix:{{ gunicorn_socket }}']
timeout = "{{ gunicorn_timeout }}"
capture_ouput = True

chdir = "{{ project_source_dir }}"
errorlog = "{{ gunicorn_error_log }}"
pidfile = "{{ gunicorn_pid_file }}"
