{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <title>{% block title %}{% endblock title %} | frontrowcrew.com</title>
    <script src="{% static "vendor/js/uikit-core.min.js" %}"></script>
    <script src="{% static "vendor/js/uikit-icons.min.js" %}"></script>
    {% block extrahead %}{% endblock extrahead %}
    {% block opengraph %}
    <meta property="og:site_name" content="Front Row Crew" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {% block opengraphextra %}{% endblock opengraphextra %}
    {% endblock opengraph %}
    {% block favicon %}
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    {% endblock favicon %}
  </head>
  <body>
    {% block body %}
    <header id="gn-header" class="uk-width-1-1 uk-sticky">
        <nav class="uk-navbar" uk-navbar>
            <div class="uk-navbar-left uk-width-1-4@m">
                <div class="search-wrapper">
                    <a class="uk-navbar-toggle search-toggle uk-hidden@s" uk-search-icon href="#"></a>
                    <div class="uk-drop search-drop" uk-drop="mode: click;">
                        <form id="site-search" class="uk-search" role="search" method="get" action="/search/" autocomplete="off">
                            <span class="uk-visible@s" uk-search-icon></span>
                            <input
                                type="search"
                                id="site-search-input"
                                class="uk-search-input"
                                name="q"
                                spellcheck="false"
                                placeholder="Search"
                                aria-label="Site Search"
                                required
                            />
                        </form>
                    </div>
                </div>
            </div>
            <div class="uk-navbar-center nav-center uk-width-3-5@s">
                <div class="nav-shows uk-navbar-center-left uk-visible@m">
                    <ul class="uk-navbar-nav">
                        <li><button type="button" class="header-button">Shows</button>
                            <div class="header-dropdown-box" uk-dropdown="pos:bottom-justify; offset: 32; mode:click">
                                <ul class="uk-nav uk-dropdown-nav header-subnav-ul">
                                    {% for nav_show in nav_shows %}
                                    <li><a href="{% url 'show-detail' nav_show.slug %}">{{ nav_show.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="header-logo-large uk-visible@m" href="{% url 'homepage' %}">
                    <img class="uk-navbar-item uk-logo" src="{% static "img/large_logo.svg" alt="GeekNights Logo" %}" uk-svg></li>
                </a>
                <a class="header-logo uk-hidden@m" href="{% url 'homepage' %}">
                    <img class="uk-navbar-item uk-logo" src="{% static "img/med_logo.svg" alt="GeekNights Logo" %}" uk-svg>
                </a>
                <div class="nav-community uk-navbar-center-right uk-visible@m">
                    <ul class="uk-navbar-nav">
                        <li><button type="button" class="header-button">Community</button>
                            <div class="header-dropdown-box" uk-dropdown="pos: bottom-justify; offset: 32; mode:click">
                                <ul class="uk-nav uk-dropdown-nav header-subnav-ul">
                                    <li><a href="https://community.frontrowcrew.com">Forum</a></li>
                                    <li><a href="https://newsletter.frontrowcrew.com">Newsletter</a></li>
                                    <li><a href="mailto:geeknights@frontrowcrew.com">Email</a><li>
                                    <li><a href="https://discord.gg/mAZbNh4kAr">Discord</a></li>
                                    {% comment %}
                                    <li class="subnav-divider"></li>
                                    <li class="uk-nav-header subnav-header-line">Open Bounties</li>
                                    {% endcomment %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% comment %}Burger menu for mobile {% endcomment %}
            <div class="uk-navbar-right uk-hidden@m">
                <a class="uk-navbar-toggle" href="#">
                    <img class="burger" src="{% static "icons/menu.svg" %}" uk-svg>
                </a>
                <div class="mobile-burger-dropbar" uk-drop="pos: bottom-center; stretch: x">
                    <div class="uk-dropdown-nav burger-drop">
                        <div><button type="button" class="header-button">Shows</button>
                            <div class="header-dropdown-box" uk-dropdown="mode:click">
                                <ul class="uk-nav uk-dropdown-nav header-subnav-ul">
                                    {% for nav_show in nav_shows %}
                                    <li><a href="{% url 'show-detail' nav_show.slug %}">{{ nav_show.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% comment %}
                            Burger Community
                        {% endcomment %}
                        <div><button type="button" class="header-button">Community</button>
                            <div class="header-dropdown-box" uk-dropdown="mode:click">
                                <div class="uk-child-width-1-2@s" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav header-subnav-ul">
                                            <li><a href="https://community.frontrowcrew.com">Forum</a></li>
                                            <li><a href="https://newsletter.frontrowcrew.com">Newsletter</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-dropdown-nav header-subnav-ul">
                                            <li><a href="mailto:geeknights@frontrowcrew.com">Email</a></li>
                                            <li><a href="https://discord.gg/mAZbNh4kAr">Discord</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
    {% block content %}{% endblock content %}
    </main>
    <footer>
        <div class="footer-wrapper">
            <ul class="uk-list uk-list-large footer-block footer-left">
                {% for nav_show in nav_shows %}
                <li><a href="{% url 'show-detail' nav_show.slug %}">{{ nav_show.title }}</a></li>
                {% endfor %}
            </ul>
            <ul class="uk-list uk-list-large footer-block footer-center">
                <li><a href="https://community.frontrowcrew.com">Forum</a></li>
                <li><a href="https://newsletter.frontrowcrew.com">Newsletter</a></li>
                <li><a href="mailto:geeknights@frontrowcrew.com">Email</a><li>
                <li><a href="https://discord.gg/mAZbNh4kAr">Discord</a></li>
            </ul>
            <div class="footer-block footer-social">
                {% comment %}
                <text>Contact</text>
                    <ul class="social-icons">
                        <li><a href="#"><img src="{% static "icons/gmail.svg" %}" uk-svg></a></li>
                        <li><a href="#"><img src="{% static "icons/facebook.svg" %}" uk-svg></a></li>
                        <li><a href="#"><img src="{% static "icons/twitter.svg" %}" uk-svg></a></li>
                    </ul>
                {% endcomment %}

                <text>Subscribe</text>
                    <ul class="social-icons">
                        <li><a href="{% url "show-podcast-rss" "geeknights"%}"><img src="{% static "icons/rss.svg" %}" uk-svg></a></li>
                        <li><a href="https://www.patreon.com/GeekNights"><img src="{% static "icons/patreon.svg" %}" uk-svg></a></li>
                        <li><a href="https://podcasts.apple.com/us/podcast/geeknights-with-rym-scott/id92729687"><img src="{% static "icons/apple.svg" %}" uk-svg></a></li>
                        <li><a href="https://www.youtube.com/user/geeknightsrym"><img src="{% static "icons/youtube.svg" %}" uk-svg></a></li>
                        <li><a href="https://open.spotify.com/show/32un3FYm8N8yGgWDTlOUvN?si=d1e8c8cb6ea64260"><img src="{% static "icons/spotify.svg" %}" uk-svg></a></li>
                        {% comment %}
                        <li><a href="#"><img src="{% static "icons/instagram.svg" %}" uk-svg></a></li>
                        {% endcomment %}
                    </ul>
                    {% comment %}
                <text>Support</text>
                    <ul class="social-icons">
                    </ul>
                    {% endcomment %}
            </div>
        </div>
        <div id="license" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
        <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
    target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
            <span><img src="{% static "icons/creative-commons.svg" %}" uk-svg>BY 4.0</span>
        </a>
        </div>
    </footer>
    {% endblock body %}
    <script src="{% static "js/main.js" %}"></script>
  </body>
</html>
