{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "src/css/main.css" %}" />
    <title>{% block title %}{% endblock title %} | frontrowcrew.com</title>
    <script src="{% static "vendor/js/uikit-core.min.js" %}"></script>
    <script src="{% static "vendor/js/uikit-icons.min.js" %}"></script>
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body>
    {% block body %}
    <header id="gn-header" class="uk-width-1-1 uk-sticky">
        <nav class="uk-navbar uk-margin" uk-navbar>
            <div class="uk-navbar-left">
                <form id="site-search" class="uk-search" role="search" method="get" action="/search/">
                    <span uk-search-icon></span>
                    <input
                        type="search"
                        id="site-search-input"
                        class="uk-search-input"
                        name="q"
                        spellcheck="false"
                        placeholder="Search"
                        required
                    />
                </form>
            </div>
            <div class="uk-navbar-center"><div>
                <div class="uk-navbar-center-left">
                    <ul class="uk-navbar-nav">
                        <li><button type="button" class="header-button">Shows</button>
                            <div class="header-dropdown-box" uk-dropdown="pos:bottom-justify; offset: 32; mode:click">
                                <ul class="uk-nav uk-dropdown-nav header-subnav-ul">
                                    {% for nav_show in nav_shows %}
                                    <li><a href="{% url 'show-detail' nav_show.slug %}">{{ nav_show.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="header-logo" href="{% url 'homepage' %}">
                <img class="uk-navbar-item uk-logo" src="{% static "src/img/logo_thick_lines.png" alt="GeekNights Logo" %}"></li>
            </a>
            <div class="uk-navbar-center-right"><div>
                <ul class="uk-navbar-nav">
                    <li><button type="button" class="header-button">Community</button>
                        <div class="header-dropdown-box" uk-dropdown="pos: bottom-justify; offset: 32; mode:click">
                            <ul class="uk-nav uk-dropdown-nav header-subnav header-subnav-ul">
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Book Club</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li class="subnav-divider"></li>
                                <li class="uk-nav-header subnav-header-line">Open Bounties</li>
                                <li><a href="#">Things of the Day</a></li>
                                <li><a href="#">Shownotes</a></li>

                            </ul>
                        </div>
                    </li>
                </ul>
                </div></div></div>
            <!-- <div class="uk-navbar-right">
                <img class="burger" src="{% static "src/icons/menu.svg" %}">
            </div> -->
        </nav>
    </header>
    <main class="container">
    {% block content %}{% endblock content %}
    </main>
    <footer>
        <div class="uk-container uk-width-1-1 uk-child-width-1-4 uk-grid-small uk-flex-center" uk-grid>
            <ul class="uk-list uk-list-large footer footer-left">
                <li><a href="#">Book Club</a></li>
                <li><a href="#">Things of the Day</a></li>
                <li><a href="#">Shownotes</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
            <ul class="uk-list uk-list-large footer footer-center">
                <li><a href="#">Shows</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">News</a></li>
            </ul>
            <div class="footer footer-social">
                <text>Contact</text>
                    <ul class="social-icons">
                        <li><a href="#"><img src="{% static "src/icons/gmail.svg" %}" uk-svg></a></li>
                        <li><a href="#"><img src="{% static "src/icons/facebook.svg" %}" uk-svg></a></li>
                        <li><a href="#"><img src="{% static "src/icons/twitter.svg" %}" uk-svg></a></li>
                    </ul>

                <text>Subscribe</text>
                    <ul class="social-icons">
                        <li><a href="#"><img src="{% static "src/icons/spotify.svg" %}" uk-svg></a></li>
                        <li><a href="#"><img src="{% static "src/icons/rss.svg" %}" uk-svg></a></li>
                        <li><a href="#"><img src="{% static "src/icons/youtube.svg" %}" uk-svg></a></li>
                        <li><a href="#"><img src="{% static "src/icons/apple.svg" %}" uk-svg></a></li>
                        <li><a href="#"><img src="{% static "src/icons/instagram.svg" %}" uk-svg></a></li>
                    </ul>
                <text>Support</text>
                    <ul class="social-icons">
                        <li><a href="#"><img src="{% static "src/icons/patreon.svg" %}" uk-svg></a></li>
                    </ul>
            </div>
        </div>
        <div id="license"><span><img src="{% static "src/icons/creative-commons.svg" %}" uk-svg>3.0</span></div>
    </footer>
    {% endblock body %}
  </body>
</html>
