<header id="gn-header" class="uk-width-1-1 uk-sticky">
    <nav class="uk-navbar uk-margin" uk-navbar>
        <div class="uk-navbar-left">
            <form id="site-search" class="uk-search" role="search">
                <span uk-search-icon></span>
                <input type="search" id="site-search-input" 
                class="uk-search-input"
                name="header-q" 
                spellcheck="false" 
                placeholder="Search" 
                aria-label="Search the entire site"
                value>
            </form>
        </div>
        <div class="uk-navbar-center"><div>
            <div class="uk-navbar-center-left">
                <ul class="uk-navbar-nav">
                    <li><button type="button" class="header-button">Shows</button>
                        <div class="header-dropdown-box" uk-dropdown="pos:bottom-justify; offset: 32">
                            <ul class="uk-nav uk-dropdown-nav header-subnav-ul">
                                <li class="uk-nav-header subnav-header-line">GeekNights</li>
                                <li><a href="#">Podcasts</a></li>
                                <li><a href="#">Lectures</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <img class="uk-navbar-item uk-logo" src="../static/img/logo_transparent.png" href="#"/></li>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><button type="button" class="header-button">Community</button>
                    <div class="header-dropdown-box" uk-dropdown="pos: bottom-justify; offset: 32">
                        <ul class="uk-nav uk-dropdown-nav header-subnav header-subnav-ul">
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Book Club</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li class="subnav-divider"></li>
                            <li class="uk-nav-header subnav-header-line">Open Bounties</li>
                            <li><a href="#">Things of the Day</a></li>
                            <li><a href="#">Shownotes</a></li>

                        </ul>
                    </div>
                </li>
            </ul>
            </div></div></div>
        <!-- <div class="uk-navbar-right">
            <img class="burger" src="icons/menu.svg">
        </div> -->
    </nav> 
</header>
